Source: tuquito-bienvenida
Section: misc
Priority: extra
Maintainer: Mario Colque <mario@tuquito.org.ar>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.1

Package: tuquito-bienvenida
Architecture: all
Description: Bienvenida a Tuquito
 Pantalla de bienvenida de Tuquito 4.x con información útil
 * Tuquito Team! - 2010
